body {
    font-family: Arial, sans-serif;
  }
  
  .tagline {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .col-md-6 {
      flex: 1; /* Make columns responsive on smaller screens */
    }
    .nav {
      flex-direction: column; /* Stack navigation links vertically */
    }
    .nav-link {
      margin-bottom: 10px;
    }
  }
  